<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <picture class="block-showcase__image">
                <source type="image/webp" srcset="images/testimonials@1x.webp 1x, images/testimonials@2x.webp 2x">
                <source type="image/png" srcset="images/testimonials@1x.jpg 1x, images/testimonials@2x.jpg 2x">
                <img src="images/testimonials@1x.jpg" alt="A happy, smiling customer">
            </picture>
            
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum pariatur rem similique aperiam vel, necessitatibus soluta dolor reprehenderit iste neque?</p>
            <footer>
                <div class="media">
                    <div class="media__image"></div>
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Sudarshan Phule</h3>
                        <p class="quote__organization">ABC Company</p>
                    </div>
                </div>    
            </footer>
        </blockquote>    
    </div>
</div>